TOKEN = ""


# Home LAN connection configuration

LAN_WEB_HOST = "0.0.0.0"
LAN_WEB_PORT = 9999

# URL users will receive from Discord.
LAN_BASE_URL = "http://192.168.28.7:9999"

# Your home LAN subnet.
LAN_NETWORK = "192.168.28.0/24"

# Discord role that users receive while connected.
HOME_ROLE_ID = 0

# Seconds before a connection is considered dead.
LAN_CONNECTION_TIMEOUT = 600
